.form-actions {
	margin:0 auto;
	padding: 0 auto;
	text-align: center;
}

#button {
	width: 240px;
}

#buttonSubmit {
	margin: 10px auto 10px;
}

.jumbotron{
color: #FFFFFF;
background-color:#818181;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  background-color: #818181;
  color: #fff;
}